<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center bg-info">

  <div class="container ">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">SETUBULLY</h1>
        <h2 data-aos="fade-up" data-aos-delay="400">We are a platform for provide information, reporting bullying, and
          help prevent acts of bullying</h2>
        <div data-aos="fade-up" data-aos-delay="600">
          <div class="text-center text-lg-start">
            <a href="/login"
              class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center ">
              <span>Lapor</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="/images/hero.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->

<section>
  <!-- Tips & Informasi -->
  <div class="card-container">
    <h1>Tips & Informasi</h1>
    <hr class="container my-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="/images/image 1.png" class="card-img-top" alt="apa itu bulyying">
          <div class="card-body">
            <h5 class="card-title">Memahami Apa Itu Bullying, Penyebab, dan Cara Mengatasinya</h5>
            <p class="card-text">Bullying adalah pola perilaku, bukan insiden yang terjadi sekali-kali.
              Biasanya, pelaku
              bullying berasal dari status
              sosial atau posisi kekuasaan yang lebih tinggi, seperti anak-anak yang lebih besar, lebih kuat,
              atau
              dianggap populer
              sehingga dapat menyalahgunakan posisinya.</p>
            <a href="https://www.cnbcindonesia.com/lifestyle/20220722152857-33-357801/memahami-apa-itu-bullying-penyebab-dan-cara-mengatasinya"
              class="card-link text-primary">Baca selengkapnya</a>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="/images/image 2.png" class="card-img-top" alt="pesan guru BK">
          <div class="card-body">
            <h5 class="card-title">Peran Guru BK untuk Mencegah Bullying di Sekolah.</h5>
            <p class="card-text">Salah satu tugas guru BK dalam mencegah perilaku bullying adalah dengan selalu
              menanamkan nilai kebaikan moral pada
              siswa. Selain itu guru BK juga melakukan bimbingan klasikal menjelaskan tentang apa itu bullying,
              bagaimana perilaku
              bullying itu, sebab dan akibat yang timbul bila perilaku bullying terjadi seta cara mencegah dan melawan
              bullying.
            </p>
            <a href="https://www.kompasiana.com/anggi63327/636481c64addee50b17ca6f2/peran-guru-bk-untuk-mencegah-bullying-di-sekolah"
              class="card-link text-primary">Baca selengkapnya</a>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="/images/image 3.png" class="card-img-top" alt="cara meningkatkan percaya diri">
          <div class="card-body">
            <h5 class="card-title">Cara Mudah Meningkatkan Rasa Percaya Diri.</h5>
            <p class="card-text">Meningkatkan kepercayaan diri dapat membantu kamu menjalani kehidupan yang lebih
              berkualitas. Percaya diri sangat
              penting untuk aktivitas sehari-hari maupun profesional. Jika kamu memiliki rasa percaya diri, kamu lebih
              dapat melakukan
              segala sesuatunya sesuai dengan potensi dan punya keinginan untuk melakukan terbaik meski di bawah
              tekanan.</p>
            <a href="https://www.halodoc.com/artikel/cara-mudah-meningkatkan-rasa-percaya-diri"
              class="card-link text-primary">Baca selengkapnya</a>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="description">
  <div class="container">
    <div style="margin-top: 80px;" class="jumbotron text-center">
      <h1 class="display-4 landing-title">Tips & Informasi
        <img width="50px"
          src="https://user-images.githubusercontent.com/82244776/134434978-0f051c22-1e96-4a18-a706-d2e9e2e61d25.png"
          alt="">
      </h1>
      <hr class="container my-5">
      <h3 class="mt-4 landing-description">Bullying (dikenal sebagai “Penindasan/risak” dalam bahasa indonesia) merupakan segala bentuk penindasan atau kekerasan
      yang dilakukan dengan sengaja oleh satu atau sekelompok orang yang lebih kuat atau berkuasa terhadap orang lain,
      bertujuan untuk menyakiti secara terus menerus.</h3>
    </div>
  </div>
</section>
<section>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <img class="home-images sharing-image" alt="sharing-stories"
        src="/images/gambar8.png">
    </div>
  </div>
</section>
<section class="stories">
  <div class="container">
    <div class="row text-center">
      <h5>Laporkan kepada Orang Dewasa yang Bisa Dipercaya</h5>
      <h6 class="stories-description">
        Cobalah untuk mengkomunikasikan bullying yang menimpamu atau orang di dekatmu kepada orang dewasa yang menurutmu bisa dipercaya. Orang dewasa yang memiliki otoritas seperti orangtua atau guru biasanya memiliki cara yang lebih baik dalam menangani masalah seperti ini tanpa harus membahayakan si korban..</h6>
    </div>
  </div>
</section>
<section>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <img class="home-images stories-image" alt="sharing-stories" src="/images/gambar2.png">
      <img class="home-images stories-image" alt="sharing-stories" src="/images/gambar1.png">
      <img class="home-images stories-image" alt="sharing-stories" src="/images/gambar3.png">
    </div>
  </div>
</section>
<section>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <img class="home-images sharing-image" alt="sharing-stories"
        src="/images/gambar4.png">
    </div>
  </div>
</section>
<section class="stories">
  <div class="container">
    <div class="row text-center">
      <h5>Berlatih Menunjukkan Sikap Percaya Diri</h5>
      <h6 class="stories-description">Latih diri untuk bersikap percaya diri di depan umum. Latih diri untuk merespon segala tindakan pelaku bullying lewat perilakumu. Tunjukkan sikap percaya diri di depan mereka, meskipun pada awalnya kamu harus berpura-pura untuk melakukannya.</h6>
    </div>
  </div>
</section>
<section>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <img class="home-images stories-image" alt="sharing-stories" src="/images/gambar7.png">
      <img class="home-images stories-image" alt="sharing-stories" src="/images/gambar6.png">
      <img class="home-images stories-image" alt="sharing-stories" src="/images/share.png">
    </div>
  </div>
</section>


<!-- Video -->
<div class="video-container">
  <h1>Video Tips</h1>
  <hr class="container my-5 d-flex">
  <section class="video">
    <div class="container-yt mt-5">
      <div class="row justify-content-center">
        <iframe width="600px" height="500px" src="https://www.youtube.com/embed/TUougjjADUE" title="YouTube video player"
          frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
      </div>
    </div>
  </section>
</div>

