{{!-- <div class="d-flex">
<div class="milestone-details mb-7 mt-0" style="display:none;margin:0%; height:70px; width: 600px;"> {{>milestone-details}}</div>
<div class="mt-6 ml-0 mr-3" style="height: 80px; width: 450px;">{{> post-details}}</div>
<div class="new">{{> new-post}}</div>
</div>
<div>
   
</div> --}}

{{>milestone-details}}
{{> post-details}}
{{> new-post}}